<div *ngIf="!logado" class="container">
  <div class="flex">
    <div *ngIf="pAcesso" class="row">
      <div class="flex-item">
        <label for="">Primeiro nome</label>
        <input [(ngModel)]="nome" type="text" class="form-control">
      </div>
    </div>
    <div *ngIf="pAcesso"  class="row">
      <div class="flex-item">
        <label for="">Último nome</label>
        <input [(ngModel)]="unome" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="flex-item">
        <label for="">CPF</label>
        <input [(ngModel)]="cpf" type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="flex-item">
        <label for="">Senha</label>
        <input [(ngModel)]="senha" type="password" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="flex-item">
        <button
          class="btn btn-outline-success"
          (click)="fazerLogin();"
          >{{textoBotao}}</button>
      </div>
    </div>
  </div>
  <div class="acesso">
    <button class="btn btn-outline-dark my-4" (click)="acesso();">
      Ainda não é cadastrado?
    </button>
  </div>
</div>
