<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>Inserir Usuário</h2>
      <input type="text" [(ngModel)]="nome" class="mt-2 form-control" placeholder="Nome"/>
      <input type="text" [(ngModel)]="idade" class="mt-2 form-control" placeholder="Idade"/>
      <input type="text" [(ngModel)]="cpf" class="mt-2 form-control" (input)="formataCampos();" minlength="14" maxlength="14" placeholder="CPF"/>
      <input type="text" [(ngModel)]="rg" class="mt-2 form-control" placeholder="RG"/>
      <input type="text" [(ngModel)]="data_nasc" class="mt-2 form-control" (input)="formataCampos();" minlength="10" maxlength="10" placeholder="Data de Nascimento"/>
      <input type="text" [(ngModel)]="endereco" class="mt-2 form-control" placeholder="Endereço"/>
      <input type="text" [(ngModel)]="cidade" class="mt-2 form-control" placeholder="Cidade"/>
      <button class="mt-2 btn btnsm btn-outline-success form-control" (click)="incluir()">
        <i class="bi bi-check2"></i>
      </button>
    </div>
  </div>
</div>
