<div class="container">
  <h2>Edição de cadastro</h2>
      <input type="text" [(ngModel)]="nome" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="idade" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="cpf" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="rg" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="dt_nasc" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="endereco" class="mt-2 form-control" />
      <input type="text" [(ngModel)]="cidade" class="mt-2 form-control" />
      <button class="mt-2 btn btnsm btn-outline-success" (click)="salvar()">
        <i class="bi bi-check2"></i>
      </button>
</div>
